Hello World 

---

In [ ]:
print ("hello")

hello

The Help Statement In Python 

---

In [ ]:
help(print)

:

Statements and Comments


---

In [ ]:
# z = 1 + 2 + 3 +
#     4 + 5 + 6 +
#     7 + 8 + 9
# print(z)

SyntaxError: ignored

In [ ]:
# Declared using Continuation Character (\):
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
print(a)

45

In [ ]:
# Declared using parentheses () :
b = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
# [] and {} also same
# Declared using square brackets []
# Declared using braces {} 
print(b)

45

In [ ]:
# Declared using semicolons(;) :
a = 1; b = 2; c = 3
print(a)
print(b)
print(c)

1
2
3

Comments

In [ ]:
#This is a comment
#print out Hello
print('Hello') #Explain the code

Hello

In [ ]:
"""This is also a
perfect example of
multi-line comments"""
print('Hello')
# ''' ---- ''' is also same

Hello

Docstrings in Python

In [ ]:
def double(num):
    """Function to double the value"""
    return 2*num
# print(double.__doc__)
print(double(4))

8

Indentation

In [ ]:
j = 1
while(j <= 5):
  print(j)
  j = j + 1
x = j+4
# print("----")
print(x)

1
6
2
7
3
8
4
9
5
10

Variables In Python

Snake_case


---


MACRO_CASE

---


camelCase

---


CapWords (i.e. Pascal Case)

In [ ]:
number = "abc" #"abc",10.7,
print(number)
type(number)

abc

str

One Value To Multiple Variable


---

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack A Collection 

---

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "awesome"
# x = "amazing" # assigning a new value to x
print("Python is " + x)

Python is awesome

Global variable

In [ ]:
x = "amazing"

def myfunc():
  global x
  x = "fantastic"
x = "awesome"
myfunc()
print("Python is " + x)

Python is fantastic

DataTypes

In [ ]:
a, b,c = 5, 3.2, "Hello"
t = [2,2,4.5,"Hey"] # {},[],()
print (a)
print (b)
print (c)
print (t)
type(t)

5
3.2
Hello
[2, 2, 4.5, 'Hey']

list

In [ ]:
x = "Hello World" 	#str 	
# x = 20 #	int 	
# x = 20.5 #	float 	
# x = 1j 	#complex 	
# x = ["apple", "banana", "cherry"] 	#list 	
# x = ("apple", "banana", "cherry") 	#tuple 	
# x = range(6) 	#range 	
# x = {"name" : "John", "age" : 36} 	#dict 	
# x = {"apple", "banana", "cherry"} 	#set 	


# x = frozenset({"apple", "banana", "cherry"}) 	#frozenset 	
# x = True 	#bool 	
# x = b"Hello" 	#bytes 	
# x = bytearray(5) 	#bytearray 	
# x = memoryview(bytes(5)) 	#memoryview
print (x)
type(x)

<memory at 0x7f52bb1e41f0>

memoryview

Type Conversions In Python

---

In [ ]:
# Python code to demonstrate Type conversion
# using int(), float()

# initializing string
s = "10010"
print(type(s))


# printing string converting to int base 2
c = int(s)
# c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)
print(type(c))


# printing string converting to float
e = float(s)
print ("After converting to float : ", end="")
print (e)
print(type(e))

<class 'str'>
After converting to integer base 2 : 10010
<class 'int'>
After converting to float : 10010.0
<class 'float'>

In [ ]:
# Python code to demonstrate Type conversion
# using ord(), hex(), oct()
# initializing 
s = '4'
print(type(s))
# printing character converting to integer
c = ord(s)
print ("After converting character to integer : ",end="")
print (c)
print(type(c))

# printing integer converting to hexadecimal string
c = hex(56)
print ("After converting 56 to *hexadecimal* string : ",end="")
print (c)
print(type(c))

# printing integer converting to octal string
c = oct(56)
print ("After converting 56 to *octal* string : ",end="")
print (c)
print(type(c))

# printing integer converting to char string
c = chr(52)
print ("After converting 56 to *ASCII* value : ",end="")
print (c)
print(type(c))

<class 'str'>
After converting character to integer : 52
<class 'int'>
After converting 56 to *hexadecimal* string : 0x38
<class 'str'>
After converting 56 to *octal* string : 0o70
<class 'str'>
After converting 56 to *ASCII* value : 4
<class 'str'>

In [ ]:
# Python code to demonstrate Type conversion
# using tuple(), set(), list()

# initializing string
s = 'geeks'
print(type(s))
# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)
print(type(c))
# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)
print(type(c))
# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)
print(type(c))

<class 'str'>
After converting string to tuple : ('g', 'e', 'e', 'k', 's')
<class 'tuple'>
After converting string to set : {'k', 'e', 's', 'g'}
<class 'set'>
After converting string to list : ['g', 'e', 'e', 'k', 's']
<class 'list'>

PRINT

In [ ]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:-3])     # Prints characters starting from 3rd to 3rd from the last
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string
# TRY for tuples and lists

Hello World!
H
llo
llo Wor
llo World!
Hello World!Hello World!
Hello World! TEST

In [ ]:
import pandas as pd